
<form action="/shipping" method="post">
   CreditCard: <input type="text" name="creditCard" required><br>
   ExpiryMonth: <input type="text" name="expiryMonth" required><br>
   ExpiryYear: <input type="text" name="expiryYear" required><br>
   CVV: <input type="text" name="cvv" required><br>
    <input type="submit" value="Submit">
</form>



