<!-- views/shipping.hbs -->
<form action="/confirmation" method="post">
  StreetAdress: <input type="text" name="streetAddress" required><br>
  City: <input type="text" name="city" required><br>
  PostalCode: <input type="text" name="postalCode" required><br>
  <input type="submit" value="Submit">
</form>
